:root {
   --sidebar-width: 250px;
}

.btn {
  color: white !important;
}

.card {
  margin-bottom: 50px;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.product-select {
  width: 100px;
}

.app {
  display: flex;
}

.content {
  width: calc(100% - var(--sidebar-width));
  height: 100vh;
  padding: 20px;
  overflow: auto;
}

nav {
  display: block;
  width: var(--sidebar-width);
  height: 100vh;
  background-color: lightblue;
  position: static;
}

nav ul {
  margin: 0px;
  padding: 0px;
}

nav ul li {
  display: block;
  color: white;
  padding: 10px;
  text-align: center;
}

nav ul li:hover {
  background-color: darkcyan;
}

nav ul li a {
  color: white !important;
  text-decoration: none !important;
}

.product-table tr td:first-child, .agreement-product-table tr td:first-child {
  width: 20%;
}

.product-table tr td:nth-child(2), .agreement-product-table tr td:nth-child(2) {
  width: 10%;
}

.product-table tr td:nth-child(3), .agreement-product-table tr td:nth-child(3) {
  width: 20%;
}

.badge {
  color: white;
  padding: 10px;
  font-size: 15px;
}

.agreement-header {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
}

.margin-right-50 {
  margin-right: 50px;
}

.agreement-header a {
  margin-left: 30px;
}
